@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    font-size: 62.5%;

    --dark1: #0A0A0A;
    --dark2: #141414;
    --dark3: #1e1e1e;
    --dark4: #282828;

    --grey1: #323232;
    --grey2: #444444;
    --grey3: #565656;
    --grey4: #646464;

    --light1: #F5F5F5;
    --light2: #E1E1E1;
    --light3: #CDCDCD;
    --light4: #B4B4B4;

    --clr1: #F9C607;
    --clr2: #6601BE;
    --clr3: #CF0C07;
    --clr4: #0196E0;

    --spacing1: 0.25rem;
    --spacing2: 0.5rem;
    --spacing3: 0.75rem;
    --spacing4: 1rem;
    --spacing5: 1.25rem;
    --spacing6: 1.75rem;
    --spacing7: 2.5rem;
    --spacing8: 3.75rem;
    --spacing9: 6.25rem;
    --spacing10: 10rem;
    --spacing11: 15rem;

    --h1: 4rem;
    --h2: 3.5rem;
    --h3: 2.5rem;
    --subheading: 2rem;
    --p: 1.75rem;

    --bgclr: var(--dark1);
    --navclr: var(--dark3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: 0px solid red;

}

::-webkit-scrollbar{
    background-color: var(--dark1);
    width: 0.5rem;    
}
::-webkit-scrollbar-thumb{
    background-color: var(--clr3);
    border-radius: 1rem;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container  {

    background-image: radial-gradient(#2f2f2f 0.2rem, transparent 1px);
    background-size: 32px 32px;
    background-color: var(--dark1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation-1 {
    display: none;
}

.navigation {
    position: sticky;
    top: var(--spacing5);
    width: 70%;
    height: 5rem;
    border-radius: 5rem;

    background: var(--dark4);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.9);

}

.nav-elements {
    width: 95%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-name {
    width: 40%;
    position: absolute;
    left: var(--spacing7);
    font-size: var(--subheading);
    font-weight: 800;
    color: var(--light1);
    
}

.nav-btn {
    position: absolute;
    right: var(--spacing7);
    width: 50%;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn a {
    
    text-decoration: none;
    color: var(--light1);
    transition: ease 250ms;
}

.nav-btn .active {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--clr3);
    transition: ease 250ms;
}

.nav-btn a:hover {
    color: var(--clr3);
    font-size: var(--subheading);
}

.title-section {
    width: 100%;
    height: 60rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-div {
    height: 30rem;
}

.title-div h1{
    height: 7rem;
    color: var(--light1);
    font-size: 7rem;

    padding: 0;
}

.subject-section {
    height: 70rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subject-section-blur {
    height: 100%;
    width: 100rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(50, 50, 50, 0.2);
    border-radius: 5rem;
    box-shadow: 0 0 10rem 2rem rgba(0, 0, 0, 1);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    border: 0px solid rgba(50, 50, 50, 0.3);
}

.subject-container {
    height: 90%;
    width: 93%;

    background: var(--dark1);
    border-radius: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subject-container-title {
    width: 90%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.subject-title-text {
    font-size: var(--h2);
    color: var(--light1);
}

.subject-title-hr {
    width: 30%;
    height: 0.5rem;
    position: relative;
    

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr1);
    transition: ease-out 500ms;

}

.subject-title-hr::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--clr1);
    border-radius: 0 50% 50% 0 ;
    position: absolute;
    left: 100%;
    
}

.subject-title-hr::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--clr1);
    position: absolute;
    left: -0.5rem;
    border-radius: 50% 0 0 50% ;
}

.subject-title-text:hover~.subject-title-hr {
    width: 50%;
}

.subject-container-content {
    width: 91%; /*83.5rem*/
    height: 80%; /*50rem*/

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.subject-container-scrollable {
    width: 100%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: scroll;

    padding-right: 2rem;
}
.subject-container-scrollable::-webkit-scrollbar {
    background-color: var(--dark1);
    border: 0.5px solid var(--clr1);
    border-radius: 1rem;
    width: 0.9rem;    
}
.subject-container-scrollable::-webkit-scrollbar-thumb {
    background-color: var(--clr1);
    border-radius: 1rem;
}
.subject-div {
    width: 40rem;
    height: 20rem;
    margin: 1rem 0;

    background-color: var(--grey1);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.subject-elements {
    width: 93%;
    height: 88%;

    display: flex;
    justify-content: space-between;
}

.subject-img {
    width: 50%;
    height: auto;
    aspect-ratio: 1;

    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;

    transition: ease-out 250ms;
}

.subject-img:hover {
    transform: scale(1.02);
}

.subject-img img {
    height: 100%;
}

.subject-description {
    width: 45%;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.subject-name {
    max-height: 7.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--light1);
}

.other-details {
    width: 90%;
    margin-left: 1rem;
}

.other-details p{
    color: var(--light3);
    font-size: 1.3rem;
}

.start-btn {
    width: 80%;
    height: 20%;

    background-color: var(--clr2);
    border-radius: 5rem;
    font-size: 1.3rem;
    color: var(--light1);


    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: center;

    transition: ease-out 250ms;
}

.start-btn:hover {
    background-color: var(--light1);
    color: var(--clr2);
    cursor: pointer;
}

.dummy {
    height: 100rem;
}


