
@media only screen and (max-width: 1000px) {
    .container {
        background-color: var(--dark1);
    }

    .navigation {
        display: none;
    }

    .navigation-1 {
        position: sticky;
        top: 3rem;
        width: 90%;
        height: 7rem;
        border-radius: 5rem;
        padding-left: 1rem;
        z-index: 1;

        background-color: var(--dark4);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-container {
        width: 95%;
        height: 75%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .web-icon {
        width: 5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
    }

    .icon-img {
        width: 100%;
        aspect-ratio: 1;
    }


    .nav-btn-container {
        width: 83%;
        height: 100%;

        position: relative;
        display: flex;
        flex-direction: row;
    }

    .nav-btn1 {
        position: relative;

        width: 90%;
        height: 100%;
        z-index: 1;
    }

    .nav-btn1 a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }

    .icon {
        position: relative;
        display: block;
        line-height: 6rem;
        font-size: 2rem;
        text-align: center;
        transition: 0.5s;
        color: var(--light1);
    }

    .nav-indicator {
        width: 6rem;
        height: 100%;
        border-radius: 50%;

        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-out 250ms;
    }

    .active a .icon {
        transform: translateY(5%);
    }

    .active a .nav-indicator {
        width: 6rem;
        height: 100%;
        background-color: var(--clr3);
        transform: translateY(50%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        position: absolute;
        color: var(--light1);
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translatey(-2rem);
    }

    .active a .text {
        opacity: 1;
        color: var(--clr3);
        transform: translatey(-1.8rem);
    }

    .title-section {
        height: 50rem;
    }

    .subject-section-blur {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .subject-container {
        background-color: transparent;
        height: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subject-div {
        width: 100%;
    }

    .subject-img {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        flex-grow: 1;
        box-shadow: none;
    }

    .subject-img img{
        box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.2);
        border-radius: 1rem;
    }

    .subject-description {
        width: 60%;
    }

    .subject-name {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 500px) {

    .navigation-1 {
        height: 15vw;
    }

    .icon {
        font-size: 4vw;
        line-height: 7vw;
    }

    .text {
        font-size: 3vw;
    }

    .nav-indicator {
        width: 13vw;
        aspect-ratio: 1;
    }

    .active a .text {
        font-size: 3vw;
        transform: translateY(-60%);
    }


    .active a .nav-indicator {
        width: 13vw;
        aspect-ratio: 1;
    }



    

    .subject-div{
        height: 35vw;
    }
    .subject-name {
        font-size: 5vw;
        line-height: 4vw;
    }

    .other-details p {
        font-size: 3vw;
    }

    .start-btn {
        font-size: 2.8vw;
    }
}

@media only screen and (max-width: 420px) {
    .web-icon {
        width: 12vw;
    }
    
    .title-div h1 {
        font-size: 20vw;
        height: 18vw;
    }

    .subject-description {
        margin-left: 3vw;
    }

    .start-btn {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 200px) {
    body {
        background-image: url("https://th.bing.com/th/id/OIP.Rale_mUfzrvH_m7MSpZKygHaFk?rs=1&pid=ImgDetMain");
        background-size: cover; /* Ensures the image covers the entire screen */
        background-position: center; /* Centers the image */
    }
    .container {
        display: none;
    }
}

@media only screen and (min-width: 5000px) {
    body {
        background-image: url("https://th.bing.com/th/id/OIP.Rale_mUfzrvH_m7MSpZKygHaFk?rs=1&pid=ImgDetMain");
        background-size:100vh; /* Ensures the image covers the entire screen */
        background-repeat: repeat;
        background-position:25vw 15vh; /* Centers the image */
    }
    .container {
        display: none;
    }
}
